* {
  box-sizing: border-box;
}


body {
  margin: 0;
}


/* HEADER */
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .7);
  padding: 1em 0em;
  margin-bottom: 2em;
}

/* RECIPES */

.recipes {
  display: flex;
  flex-direction: column;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}